*{
    margin: 0;
    padding: 0;
    
}
html{
    background-color: rgb(205, 226, 245);
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro{
    background-image: url(../images/my_photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
h1{
    color: rgb(247, 243, 243);
    text-shadow: 1px 1px 2px rgb(215, 178, 178), 0 0 1em rgb(224, 224, 238), 0 0 0.2em rgb(79, 79, 200);
    padding-top: 20vh;
    padding-left: 7vw;
    font-size: 100px;
    font-family: "Sacramento", cursive;

}

p{
    color: rgb(49, 73, 158);
    padding-left: 10vw;
    /* text-shadow: 1px 1px 2px rgb(215, 178, 178), 0 0 1em rgb(224, 224, 238), 0 0 0.2em rgb(79, 79, 200); */
    font-size: 1.5rem;
}

.navbar{
    padding: 10px;
}

.navbar nav a {
    color: rgb(96, 110, 180); /* Text color */
    text-align: center; /* Centers text */
    padding: 14px 20px; /* Spacing around each link */
    text-decoration: none; /* Removes underline from links */
    font-size: 17px; /* Font size for links */
    border-radius: 30%;
}

.navbar nav a:hover {
    background-color: #4d697d; /* Background color when hovered */
    color: white; /* Text color when hovered */
}

@media (max-width: 700px) {
    .intro{
        height: 80vh;
        width: 100vw;
    }
    h1{
        font-size: 70px;
    }
    p{
        font-size: 1.2rem;
    }
    
}

@media (max-width: 570px) {
    .intro{
        height: 60vh;
        /* width: 100vw; */
    }
    h1{
        font-size: 50px;
    }
    p{
        font-size: 1rem;
    }
}

@media (max-width: 440px) {
    .intro{
        height: 50vh;
        /* width: 100vw; */
    }
    h1{
        font-size: 40px;
    }
}

